{:paths ["src/main" "src/test"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.12.145"}
        thheller/shadow-cljs {:mvn/version "3.5.0"}
        reagent/reagent {:mvn/version "2.0.1"}
        re-frame/re-frame {:mvn/version "1.4.7"}
        re-graph/re-graph {:mvn/version "0.2.3"
                           :exclusions [re-graph.hato/re-graph.hato]}
        com.graphql-java/graphql-java {:mvn/version "24.0"}}
 :aliases
 {:format {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.0"}}
           :main-opts ["-m" "cljfmt.main"]}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.06.05"}}
         :main-opts ["-m" "clj-kondo.main"]}}}
