# tmp
*.bak
*~
target
.docker
.DS_Store

# dependencies
node_modules
package-lock.json
.pnpm-store

# generated
.devcontainer
**/.vscode/settings.json
**/.vscode/tasks.json
.update_devcontainer.sh
.devcontainer_meta.json
.prettierignore
.prettierrc.*
docker-compose.yml
recipe-db.graphqls
.dockerignore
*.log*
traefik.yml

# data
/data
