package components

import "frontend/src/generated"

templ recipeTile(item gql.RecipeStub) {
	<article>
		<header>
			<h2 class="font-bold"><a href={ "/recipe/" + item.Id }>{ item.Name }</a></h2>
		</header>
		<img src={ item.Image.ThumbUrl } alt={ item.Name }/>
		<footer>
			@Rating(item.Rating)
		</footer>
	</article>
}

templ Overview(resp *gql.OverviewResponse) {
	<h1>Alle Rezepte</h1>
	<div class="grid! grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 md:gap-4">
		for _, recipe := range resp.Recipes {
			@recipeTile(recipe)
		}
		if resp.RecipeEditOnline {
			<a href="/edit/new" class="contents" aria-label="Neues Rezept hinzufügen">
				<article class="flex items-center justify-center" style="font-size: 3rem; text-decoration: none;">+</article>
			</a>
		}
	</div>
}
