package components

import "frontend/src/generated"

templ recipeTile(item gql.RecipeStub, ratingsOnline bool) {
	<a href={ "/recipe/" + item.Id } aria-label={ "Rezept " + item.Name } hx-boost="true">
		<recipe-tile-component itemscope itemtype="https://schema.org/Recipe">
			<h2 slot="title" class="font-bold" itemprop="name" title={ item.Name }>{ item.Name }</h2>
			if item.Image != nil {
				<img slot="image" src={ item.Image.ThumbUrl } alt={ item.Name } itemprop="image"/>
			}
			if ratingsOnline && item.Rating != nil {
				{{ slot := "rating" }}
				@Rating(item.Rating, false, &slot)
			}
		</recipe-tile-component>
	</a>
}

templ Overview(resp *gql.OverviewResponse) {
	<h1>Alle Rezepte</h1>
	<div class="grid! grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 md:gap-4 mx-auto max-w-[350px] sm:max-w-none">
		for _, recipe := range resp.Recipes {
			@recipeTile(recipe, resp.RatingsOnline)
		}
		if resp.RecipeEditOnline {
			<a href="/edit/new" class="contents" aria-label="Neues Rezept hinzufügen">
				<article class="flex items-center justify-center" style="font-size: 3rem; text-decoration: none;">+</article>
			</a>
		}
	</div>
}
