package components

import (
	"fmt"
	"frontend/src/generated"
)

templ Rating(rating *gql.Rating, ratingPossible bool) {
	{{
		ratingValue := ""
		if rating.Average != nil {
			ratingValue = fmt.Sprintf("%v", *rating.Average)
		}
		ratingCount := ""
		if rating.Count != nil {
			ratingCount = fmt.Sprintf("%d", *rating.Count)
		}
	}}
	<span
		itemscope
		itemtype="https://schema.org/AggregateRating"
		itemprop="aggregateRating"
	>
		if rating.Average != nil {
			<meta itemprop="ratingValue" content={ ratingValue }/>
		}
		if rating.Count != nil {
			<meta itemprop="ratingCount" content={ ratingCount }/>
		}
		<rating-component
			if rating.Average != nil {
				rating={ *rating.Average }
			}
			if rating.Count != nil {
				count={ *rating.Count }
			}
			if ratingPossible {
				hx-post={ "/recipe/" + rating.RecipeId + "/rate" }
				hx-target="this"
				hx-swap="outerHTML"
				hx-trigger="rated"
				hx-vals="js:{rating: event.detail}"
			}
		></rating-component>
	</span>
}
