package components

import "frontend/src/generated"

templ Rating(rating gql.Rating, ratingPossible bool) {
	<rating-component
		rating={ rating.Average }
		count={ rating.Count }
		if ratingPossible {
			hx-post={ "/recipe/" + rating.RecipeId + "/rate" }
			hx-trigger="rated"
			hx-target="this"
			hx-vals="js:{rating: event.detail}"
		}
	></rating-component>
}
