---
import type { Recipe } from "../generated/graphql";

const recipe: Recipe = Astro.props.recipe;
---

<div class="border-2 border-gray-500 w-full rounded text-center h-10">
  <a href={"/recipe/" + recipe.id}>{recipe?.name}</a>
</div>
