<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
  <import class="ch.qos.logback.core.ConsoleAppender" />

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="PatternLayoutEncoder">
      <pattern>%-5level [%thread]: %message%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.springframework" level="WARN" />
  <logger name="org.atmosphere" level="WARN" />
  <logger name="de.recipe" level="INFO" />
</configuration>
