---
import RecipeCard from "../components/RecipeCard.astro";
import { AllRecipes, type AllRecipesQuery } from "../generated/graphql";
import Layout from "../layouts/default.astro";
import { fetchGraphQL } from "../shared/fetch-data.js";

const query = await fetchGraphQL<AllRecipesQuery>(AllRecipes);
const recipes = query.recipes ?? [];
---

<Layout>
  <h1>Recipe Collection</h1>
  <div class="m-2 grid grid-cols-3 gap-4">
    {recipes.map((item) => <RecipeCard recipe={item} />)}
  </div>
</Layout>
