---
import RecipeAdd from "../components/RecipeAdd.vue";
import RecipeCard from "../components/RecipeCard.astro";
import { AllRecipesFull, AllRecipesFullQuery } from "../generated/graphql";
import Layout from "../layouts/default.astro";
import { fetchGraphQL } from "../shared/fetch-data.js";
import { handleError } from "../shared/handle-error";

let recipes: AllRecipesFullQuery["recipes"];
try {
  const query = await fetchGraphQL<AllRecipesFullQuery>(AllRecipesFull);
  recipes = query.recipes ?? [];
} catch (error) {
  return handleError(error);
}
---

<Layout>
  <div class="flex items-center flex-col md:flex-row">
    <h1 class="h1 md:flex-grow">Alle Rezepte</h1>
    <div class="md:pr-4 pr-0">
      <RecipeAdd client:only />
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="m-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {recipes.map((item) => <RecipeCard recipe={item} />)}
    </div>
  </div>
</Layout>
